.devLink:hover {
    color: var(--bs-warning) !important;
    transition: color 0.3s ease;
}
.active{
    color: var(--bs-warning) !important;
}
.devBtn {
    width: 66px;
}

.logo {
    width: 20px;
    height: 20px;
}